@model DemoMvc.Models.Emp
@{
    ViewBag.Title = "SendObject";
}

<h2>SendObject</h2>
<br />
<table border="1">
    <tr>
        <td>Empno</td>
        <td>EmpName</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>@Model.Empno</td>
        <td>@Model.Ename</td>
        <td>@Model.Salary</td>
    </tr>
</table>

