@model DemoMvc.Models.Emp
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Display","Bound"))
{
    <table>
        <tr>
            <td>
                Empno
            </td>
            <td>
                @Html.TextBoxFor(a => a.Empno)
            </td>
            </tr>
        <tr>
            <td> Ename</td>
            <td>
                @Html.TextBoxFor(b => b.Ename)
            </td>
        </tr>
 
        <tr>
            <td> Salary</td>
            <td>
                @Html.TextBoxFor(c => c.Salary)
            </td>
        </tr>
        <tr>
            <td><input id="Submit1" type="submit" value="Submit" /> </td>
        </tr>
    </table>

}
